.bg0{background-image: url(../img/1.jpg);
     background-repeat: no-repeat;
     background-position: center;}
.bg1{background-image: url(../img/2.jpg);
     background-repeat: no-repeat;
     background-position: center;}
.bg2{background-image: url(../img/3.jpg);
     background-repeat: no-repeat;
     background-position: center;}

#banner{
    .swiper-slide{height: auto;}
}